* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

.icon-menu {
    margin: 0 10px 0 10px;
    height: 30px;
    width: 30px;
}

.brand-header {
    margin: 0 10px 0 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 80px;
}

.report-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
